<!-- start header -->
<div class="header" ngx-parallax [active]="false">
        <!-- <app-navbar></app-navbar> -->
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="content">
                  
                <img src="assets/images/spoon.png" alt="" style="margin: 3% 0px;">
               
      <ngx-typed-js [strings]="['These restaurants serve fast food ...', 'There is 10% discount ...']" 
      [shuffle]="true" [loop]="true" [typeSpeed]="100">
         <span class="typing"></span>
      </ngx-typed-js>
                 <button>Discover More</button>

            </div>
        </div>
        </div>
    </div>
</div>
<!-- end header -->
<div class="inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12  mt-5 mb-5" >
                <!-- <h5>Our Services</h5> -->
                <h5 class="mt-4 mb-2">Enter In Every Card To See Our Services </h5>
                <img src="assets/images/logo.png" class="ser-img" alt="">
            </div>
        <ng-container *ngFor="let item of innerPages">
        <div class="col-md-4 mt-5 h-75">
                <a routerLink="/{{item.pagename}}">
                    <div class="allcontent">
                    <div class="content h-75">
            <img [src]="item.img" class="w-100 h-100">
            
        </div>
        <div class="overlay">
            <p style="color:#9C7C57;font-weight: bold;margin: 27% 0px;">Enter To See {{item.title}}</p>
        </div>
    </div>
            <!-- <p>{{item.title}}</p> -->
        </a>
        </div>
       
    </ng-container>
    </div></div>
</div>
<!-- end services -->


<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12  mt-5 mb-5" >
               
                <h5>some foods in our resturant</h5>
                <img src="assets/images/logo.png" class="ser-img" alt="">
            </div>
            </div></div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <div class="h-100" (click)="openDialog(food12)" style="cursor: pointer;">
     <img src="assets/images/30.jpg" class="w-100" style="height:242px" alt="">
    </div>
<!-- 
     <popover-content #myPopover 
                title="drink" 
                placement="left"
                [animation]="true" 
                 >
    <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span> -->
<!-- </popover-content> -->


  </ng-template>  
  <ng-template carouselSlide class="h-50">
    <div class="h-100" (click)="openDialog(food11)" style="cursor: pointer;">
    <img src="assets/images/34.jpg" class="w-100" style="height:242px" alt="">
    </div>
    <!-- <popover-content #myPopover 
    title="drink" 
    placement="left"
    [animation]="true" 
     >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
</popover-content> -->
  </ng-template>  
  <ng-template carouselSlide class="h-50">
    <div class="h-100" (click)="openDialog(food10)" style="cursor: pointer;">
    <img src="assets/images/31.jpg" class="w-100" style="height:242px" alt="">
     </div>
     <!-- <popover-content #myPopover 
     title="drink" 
     placement="left"
     [animation]="true" 
      >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
  </ng-template> 
  <ng-template carouselSlide class="h-50">
    <div class="h-100" (click)="openDialog(food9)" style="cursor: pointer;">
    <img src="assets/images/27.jpg" class="w-100" style="height:242px" alt="">
    </div>
    <!-- <popover-content #myPopover 
    title="drink" 
    placement="left"
    [animation]="true" 
     >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>

</popover-content> -->
 </ng-template>  
 <ng-template carouselSlide class="h-50">
    <div class="h-100" (click)="openDialog(food8)" style="cursor: pointer;">
   <img src="assets/images/12.jpg" class="w-100" style="height:242px" alt="">
    </div>
    <!-- <popover-content #myPopover 
    title="drink" 
    placement="left"
    [animation]="true" 
     >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>

</popover-content> -->
 </ng-template>  
 <ng-template carouselSlide class="h-100">
    <div class="h-50" (click)="openDialog(food7)" style="cursor: pointer;">
   <img src="assets/images/40.jpg" class="w-100" style="height:242px" alt="">
    </div>
    <!-- <popover-content #myPopover 
    title="drink" 
    placement="left"
    [animation]="true" 
     >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
 </ng-template> 
</owl-carousel-o>

</div>


<div>
    <owl-carousel-o [options]="customOptions2">
      <ng-template carouselSlide>
          <div class="h-100" (click)="openDialog(food6)" style="cursor: pointer;">
         <img src="assets/images/41.jpg" class="w-100" style="height:242px" alt="">
        </div>
        <!-- <popover-content #myPopover 
        title="drink" 
        placement="right"
        [animation]="false">
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
      </ng-template>  
      <ng-template carouselSlide class="h-50">
        <div class="h-100" (click)="openDialog(food5)" style="cursor: pointer;">
        <img src="assets/images/39.jpg" class="w-100" style="height:242px" alt="">
        </div>
        <!-- <popover-content #myPopover 
        title="drink" 
        placement="right"
        [animation]="true" 
         >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
      </ng-template>  
      <ng-template carouselSlide class="h-50">
        <div class="h-100" (click)="openDialog(food4)" style="cursor: pointer;">
        <img src="assets/images/35.jpg" class="w-100" style="height:242px" alt="">
         </div>
         <!-- <popover-content #myPopover 
         title="drink" 
         placement="right"
         [animation]="true" 
          >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
      </ng-template> 
      <ng-template carouselSlide class="h-50">
        <div class="h-100" (click)="openDialog(food3)" style="cursor: pointer;">
        <img src="assets/images/23.jpg" class="w-100" style="height:242px" alt="">
        </div>
        <!-- <popover-content #myPopover 
        title="drink" 
        placement="right"
        [animation]="true" 
         >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
     </ng-template>  
     <ng-template carouselSlide class="h-50">
        <div class="h-100" (click)="openDialog(food2)" style="cursor: pointer;">
       <img src="assets/images/38.jpg" class="w-100" style="height:242px" alt="">
        </div>
        <!-- <popover-content #myPopover 
        title="drink" 
        placement="right"
        [animation]="true" 
         >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
     </ng-template>  
     <ng-template carouselSlide class="h-100">
        <div class="h-50"  (click)="openDialog(food1)" style="cursor: pointer;">
       <img src="assets/images/37.jpg" class="w-100" style="height:242px" alt="">
        </div>
        <!-- <popover-content #myPopover 
        title="drink" 
        placement="right"
        [animation]="true" 
         >
<b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
<br>
<button class="btn">Add To Cart</button>
</popover-content> -->
     </ng-template> 
    </owl-carousel-o>
    
    </div>
    <ng-template #food1>
        <img src="assets/images/37.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>

    <ng-template #food2>
        <img src="assets/images/38.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>

    <ng-template #food3>
        <img src="assets/images/23.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>

    <ng-template #food4>
        <img src="assets/images/35.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food5>
        <img src="assets/images/39.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food6>
        <img src="assets/images/41.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food7>
        <img src="assets/images/40.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food8>
        <img src="assets/images/12.jpg" class="w-100" style="width:10%;height: 370px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>

    <ng-template #food9>
        <img src="assets/images/27.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food10>
        <img src="assets/images/31.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food11>
        <img src="assets/images/34.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>
    <ng-template #food12>
        <img src="assets/images/30.jpg" class="w-100" style="width:30%;height: 300px;" alt="">
        <br>
        <b>there is in </b> <span style="color: #9C7C57; ">resturant A</span>
        <br>
        <button class="btn">Add To Cart</button>
    </ng-template>


    <div class="location mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                        <img src="assets/images/logo.png" class="ser-img" alt="">
                </div>
                <div class="col-md-6 mt-5" style="height: 681px;">
                    <div class="content h-100" >
                            <img src="assets/images/09.jpg" class="w-100 h-100"  alt="">
                    <div class="overlay">
                        <p>hello</p>
                    </div>
                <!-- <div class="location-img h-100"> -->
                <!-- </div> -->
            </div>
                
                </div>
                <div class="col-md-6 mt-5" style="margin-left: -2%;">
                        <iframe aria-hidden="true" frameborder="0" tabindex="-1" class="h-100" 
                         style="width: 100%; height: 100%; top: 0px; left: 0px; border: none;"
                         src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
                         >
                              
                           
                        </iframe>
                </div>
            </div>
        </div>
    </div>

<!-- 
    <popover-content #myPopover 
                title="Popover title" 
                placement="left"
                [animation]="true" 
                [closeOnClickOutside]="true" >
    <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
    <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.
</popover-content> -->
 
<!-- <button [popover]="myPopover">element on which this popover is applied.</button> -->